.clear
{
	clear:both;
}


html { 
	
}

body
{
	background: transparent;
	font-family: 'Archivo Narrow', sans-serif;

	background-color: #000;

}

a,
a:hover,
a:active,
a:visited
{
	color: #999;
}



body#mainsquare
{
	background: #000;

	color:#ccc;
	
}

body#mainsquare article
{
	margin-bottom: 100px;
}

body#mainsquare header
{
	color:#333;
	
}
#mainsquare section
{
	background: black;
}


body#mainsquare section {
	text-shadow: 0px 0px 3px #000;

}

#mainsquare section h2 {
	text-transform:none;
	margin: 0 0 0 0;

}


body#mainsquare section a,
body#mainsquare section a:active,
body#mainsquare section a:visited
{
	color: white;
}

body#mainsquare section a:hover
{
	color: gray;
}

body#mainsquare section ul li a
{
	color: #000000;
}

body#mainsquare section ul li a:hover,
body#mainsquare section ul li a:active,
body#mainsquare section ul li a:visited
{
	color: #0B0080;
}


body#mainsquare
{
	background: #000;
	/* url(/img/castilloyelarmado/background.jpg) no-repeat center center fixed; */
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;


}

body#mainsquare section ul li a,
body#mainsquare section ul li a:hover,
body#mainsquare section ul li a:active,
body#mainsquare section ul li a:visited
{
	color: #CCC;
}




body#castilloyelarmado section ul li a,
body#castilloyelarmado section ul li a:hover,
body#castilloyelarmado section ul li a:active,
body#castilloyelarmado section ul li a:visited
{
	color: #0B0080;
}


body#castilloyelarmado
{
	background: #000 url(/img/castilloyelarmado/background.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;


}



body#about
{
	background: #000 url(/img/about/background.jpg) repeat-y left top;

	color:#ccc;
	
}


body#asmalleranimal
{
	background: #000 url(/img/asmalleranimal/background2.png) repeat-y left top;

	color:#ccc;
	
}

body#workinprogress
{
	background: #000;

	color:#ccc;
	
}

body#workinprogress article
{
	margin-bottom: 100px;
}

body#workinprogress header
{
	color:#333;
	
}
#workinprogress section
{
	background: transparent;
}


body#workinprogress section {
	text-shadow: 0px 0px 3px #000;

}

#workinprogress section h2 {
	text-transform:none;
	margin: 0 0 0 0;

}

body#egomachine
{
	/*background: #000 url(/img/egomachine/background.jpg) repeat center center; */

	color:#ccc;
	
}

body#egomachine header
{
	color:#333;
	
}

body#asmalleranimal header
{
	color:#333;
	
}



body#asmalleranimal section {
	text-shadow: 0px 0px 3px #000;

}






header.hidden-phone {
	width: 220px;
	

	/*display:inline-block;*/
	background: #222222;
	padding: 20px;
	
	position: fixed;
	
	left: 16.666%;
	margin-left: -110px;


}

#egomachine header.hidden-phone
{
	background: #000;
}


header.visible-phone {
	background: #222222;

}

header h1 {
	/*#d80000*/

	color: #FFF;
	text-transform:uppercase;

}

header.hidden-phone  h1 {

	margin: 20px 0 5px 0;
	line-height: 33px;
}


header.visible-phone  h1 {
	/*#d80000*/

	float: left;
	margin: 0 0 0 10px;
	line-height: 20px;
	width: 300px;
}


header .contact ul li 
{
	display: inline;
}

header .contact ul li a small
{
	margin: 0;
}

header .contact ul li a
{
	color: #666;
}



header .nav ul li {
	margin: 30px 0 30px 0;
}


header.visible-phone
{
	overflow: hidden;
}

header.visible-phone .navbar-collapse .contact ul
{
	margin: 10px 0 0 0;
	padding: 0 40px 10px 40px;
	
}

header.visible-phone .navbar-collapse .nav ul
{
	padding: 0 40px 40px 40px;
	margin: 0;
}


header .nav ul li a {
	display:block;
	color: #555;
}

header .nav ul li.active a {
	/*color: #999;*/
}

header .nav ul li a:hover {
	text-decoration:none;
	color: #999;
}

header .nav ul li a h3 {
	text-transform:uppercase;
	margin: 0;
}


header .nav ul li a small {
	text-transform:uppercase;
	margin: 0;
}




section
{
	background: #FFF;
	margin-top: 80px;
	padding: 20px 20px 40px 20px;
	max-width: 695px;
}


#asmalleranimal section
{
	background: transparent;
}

#egomachine section
{
	background: transparent;
}





section .logo
{
	margin: 10px 0 30px 0;

}
section .logo img
{
	max-width: 100%;
}



#about header {
	background: #000;
	background-color:rgba(0, 0, 0, 0.85);
	
}


#about section
{
	background: transparent;
	/*background-color:rgba(0, 0, 0, 0.85);*/
	color: #ddd;
}

#about header .nav ul li a
{
	color: #ccc;
}


#about section .picture {
	width: 55%;
	float: right;
	min-width: 200px;
	max-width: 500px;
	margin: 25px 0 20px 20px;
	background-color: #ccc;
	border-color: #000;
	/*padding: 2px;*/
	
}




#about section p,
#about section h2,
#about section h3
{
	background-color:rgba(0, 0, 0, 0.85);
	padding: 20px ;
}

#about section h2
{
	margin-bottom: 0;
}

#about section h3
{
	margin-bottom: 0;
}

#about section p
{
	margin: 0;
}

#about section ul
{
	background-color:rgba(0, 0, 0, 0.85);
	padding-bottom: 20px;
	margin-bottom: 0;
}

#about section ul li
{
	background-color:rgba(0, 0, 0, 0.85);
	/*padding: 10px;
	margin-bottom: 0;*/
	/*list-style: none;*/
}







#egomachine section p,
#egomachine section h2,
#egomachine section h3
{
	background: #000;
	padding: 20px ;
}

#egomachine section h3
{
	margin-bottom: 0;
}

#egomachine section p
{
	margin: 0;
}

#egomachine section ul
{
	background: #000;
	padding-bottom: 20px;
	margin-bottom: 0;
}

#egomachine section ul li
{
	background: #000;
	/*padding: 10px;
	margin-bottom: 0;*/
	/*list-style: none;*/
}

#egomachine section .picture {
	/*width: 344px;*/
	float: right;
	/*min-width: 200px;
	max-width: 500px;*/
	margin: 50px 0 50px 10px;
	max-width: 100%;
	
}

#egomachine section .carousel 
{
	margin-top: 0;
	padding: 20px;
}


section .trailer
{
	margin-top: 30px;
}


section ul li
{
	margin-bottom: 5px;
}

section h2 {
	text-transform:uppercase;
	/*color: #999;*/
	/*border-bottom: solid 1px #333;*/
	margin: 0 0 20px 0;
}




section h3 {
	margin-top: 40px;
}

section p {
	/*color: #888;*/
}



section .carousel
{
	margin-top: 20px;
	background: #000;
}

section .carousel .carousel-inner > .item > img, 
section .carousel .carousel-inner > .item > a > img{
	/*width: 100%;  use this, or not */
	margin: auto;
}

#egomachine section .carousel .carousel-inner > .item > img, 
#egomachine section .carousel .carousel-inner > .item > a > img{
	/*width: 100%;  use this, or not */
	max-height: 414px;
}

#asmalleranimal section .carousel .carousel-inner > .item > img, 
#asmalleranimal section .carousel .carousel-inner > .item > a > img{
	/*width: 100%;  use this, or not */
	max-height: 441px;
}

#castilloyelarmado section .carousel .carousel-inner > .item > img, 
#castilloyelarmado section .carousel .carousel-inner > .item > a > img{
	/*width: 100%;  use this, or not */
	max-height: 359px;
}

body#wingspan
{
	background: #000;

	color:#ccc;
	
}

body#wingspan article
{
	margin-bottom: 100px;
	margin-top: 100px;
}

body#wingspan header
{
	color:#333;
	
}
#wingspan section
{
	background: black;
}


body#wingspan section {
	text-shadow: 0px 0px 3px #000;

}

#wingspan section h2 {
	text-transform:none;
	margin: 0 0 0 0;

}


body#wingspan section a,
body#wingspan section a:active,
body#wingspan section a:visited
{
	color: white;
}

body#wingspan section a:hover
{
	color: gray;
}

body#wingspan section ul li a
{
	color: #000000;
}

body#wingspan section ul li a:hover,
body#wingspan section ul li a:active,
body#wingspan section ul li a:visited
{
	color: #0B0080;
}


body#wingspan
{
	background: #000;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;


}

body#wingspan section ul li a,
body#wingspan section ul li a:hover,
body#wingspan section ul li a:active,
body#wingspan section ul li a:visited
{
	color: #CCC;
}
